<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>{{TITLE|default("maleDilo")}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
{% set URL=url_for('frontend.delo', delo_id=delo.id, _external=true) %}

<h1>{{ delo.title }}</h1>

<div style="float:left">
	{{ delo.teaser }}<br>
	<br>

	{{ delo.description.html }}
</div>
<aside style="float:right; width:200px; margin-left: 20px; margin-bottom:20px">
	Поддержите это дело на {{URL}}<br>
	<img src="http://chart.apis.google.com/chart?cht=qr&amp;chs=200x200&amp;chl={{URL}}&amp;chld=H|0"><br>
</aside>

  </body>
</html>


