{% extends "base.html" %}

{% macro errors(field) %}
	{% if field.errors %}<p class="help-block">{% for error in field.errors %}{{ error }}<br>{% endfor %}</p>{% endif %}
	{% if field.description %}<p class="help-block">{{ field.description }}</p>{% endif %}
{% endmacro %}

{% macro field(field) %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
	{{field.label}}
	{{field(class="form-control input-lg")}}
	{{errors(field)}}
</div>
{% endmacro %}

{% block container %}
<h1>Добавьте новое дело</h1>
<form method="post" id="delo_form" role="form" class="col-md-6">
{{ form.hidden_tag() }}
{{ form.position_lat() }}
{{ form.position_lng() }}
{{field(form.title)}}
{{field(form.teaser)}}
<div class="form-group {% if form.goal.errors %}has-error{% endif %}">
	{{form.goal.label}} 
	<div class="row">
		<div class="col-md-4">
		<div class="input-group input-group-lg">
			{{form.goal(class="form-control")}}
		  	<span class="input-group-addon">грн.</span>
		</div>				  
		</div>
	</div>
	{{errors(form.goal)}}
</div>
{{field(form.description)}}
<button type="submit" class="btn btn-primary btn-block btn-lg">Добавить</button>
</form>

<div class="col-md-6">
	<form id="map_form">
	<div class="form-group">
		<label>Адрес по которому нужно сделать дело:</label>	
	    <div class="row">
			<div class="col-md-10">
				<input type="text" class="form-control" id="address">
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary btn-block" id="geocode_btn">найти</button>
			</div>
		</div>
	</div>
	<div id="map" style="height:400px"></div>
	</form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var map;
var geocoder;
var marker;

function initialize() {
	var center = new google.maps.LatLng(50.433236, 30.516586);

	var pos_lat = parseFloat($('#position_lat').val(), 10);
	var pos_lng = parseFloat($('#position_lng').val(), 10);

	if (pos_lat && pos_lng) {
		center = new google.maps.LatLng(pos_lat, pos_lng);		
	}
  var mapOptions = {
    zoom: 16,
    center: center //new google.maps.LatLng(-34.397, 150.644)
  };
  map = new google.maps.Map(document.getElementById('map'),
      mapOptions);
  geocoder = new google.maps.Geocoder();


	if (pos_lat && pos_lng) {
		updateMarker(center);
	}
}

function updateMarker(pos) {
    if (!marker) {
	    marker = new google.maps.Marker({
	        map: map,
	        position: pos,
	        draggable: true
	    });

		  google.maps.event.addListener(marker, 'dragend', function() {
		  	updatePos();
		  });

	} else {
		marker.setPosition(pos);
	}
	updatePos();
}

function codeAddress() {
	var address = document.getElementById("address").value;
	geocoder.geocode({'address': address, 'region': 'UA'}, function(results, status) {
	  if (status == google.maps.GeocoderStatus.OK) {
	  	$('#address').val(results[0].formatted_address);
	    map.setCenter(results[0].geometry.location);
	    updateMarker(results[0].geometry.location);
	  } else {
	    alert("Geocode was not successful for the following reason: " + status);
	  }
	});
}

function updatePos() {
	var pos = marker.getPosition();
	$('#position_lat').val(pos.lat());
	$('#position_lng').val(pos.lng());
}

$('#map_form').submit(function(evt) {
	evt.preventDefault();
	codeAddress();
});

google.maps.event.addDomListener(window, 'load', initialize);	
</script>

{% endblock %}
