{% extends "base.html" %}

{% set TITLE=delo.title %}

{% block container %}

	<h1>{{ delo.title }}</h1>
	<div class="panel panel-default">
  		<div class="panel-body">
			<div class="row">
				<div class="col-md-9">
					<img src="http://placehold.it/823x500" width="100%"><br>
					<br>
					<button class="btn">FB</button> <button class="btn">VK</button> <button class="btn">Twi</button> <a href="./print/" class="btn">Версия для печати</a>
					<br>
					<p class="lead">{{ delo.teaser }}</p>
					<br>
					{{ delo.description.html }}
				</div>
				<aside class="col-md-3">
					<span class="bignum">{{ delo.num_backers }}</span><br>участник<br/>
					<span class="bignum">{{ delo.pledged|money }}</span><br>собрано из {{ delo.goal|money }}<br/>
					<br>
					{% if is_backer %}
					Вы уже поддержали это дело.
					<a href="{{ url_for('frontend.pledge', delo_id=delo.id) }}" class="btn btn-primary btn-block btn-lg">Поддержать ещё<br><small>минимум 1 грн.</small></a>
					{% else %}
					<a href="{{ url_for('frontend.pledge', delo_id=delo.id) }}" class="btn btn-primary btn-block btn-lg">Поддержать<br><small>минимум 1 грн.</small></a>
					{% endif %}
				</aside>
			</div>
  		</div>
  	</div>



{% endblock %}
