{% extends "discover_base.html" %}
{% import "widgets.html" as widgets %}


{% block results %}
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id="map" style="height:400px"></div>
        </div>
    </div>
    <br>
    <div class="row">
    {% for delo, distance in dela %}
    <div class="col-md-4">
        {{ widgets.delo_vertical(delo, distance) }}
    </div>  
    {% endfor %}
    </div>
{% endblock %}


{% block js %}
    {{super()}}

    <script type="text/javascript">
        var center = new google.maps.LatLng({{lat}}, {{lng}});

        var mapOptions = {
            zoom: 12,
            center: center //new google.maps.LatLng(-34.397, 150.644)
        };
        map = new google.maps.Map(document.getElementById('map'),
          mapOptions);


        var marker;

        {% for delo, distance in dela %}
        marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng({{delo.position|latlng}}),
            title: {{delo.title|tojson}},
        });

        google.maps.event.addListener(marker, 'click', function(marker) {
            //updatePos();
            document.location.href = '#delo_{{delo.id}}';//{{ url_for('frontend.delo', delo_id=delo.id) }}';
        });

        {% endfor %}


        $('.delo_distance').click(function(evt) {
            var pos = $(this).parents('.delo').attr('data-pos').split(',');
            map.setCenter(new google.maps.LatLng(pos[0], pos[1]))
        })
    </script>

{% endblock %}
