{% extends "discover_base.html" %}
{% import "widgets.html" as widgets %}

{% set GEOLOCATE=true %}

{% block results %}
    <h2>Новые дела</h2>
    <div class="row">
    {% for delo in dela %}
    <div class="col-md-4">
        {{ widgets.delo_vertical(delo) }}
    </div>  
    {% endfor %}
    </div>


{% endblock %}
