{% extends "base.html" %}

{% block container %}
    <h2>Дела поблизости</h2>
    <form action="./near/" id="near_form">
    <div class="row">
        <div class="col-md-10">
            <input type="text" class="form-control input-lg" id="pos" name="pos" placeholder="Введите свой адрес" value="{{name}}">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Найти дела</button>
        </div>
    </div>
    </form>


    {% block results %}
    {% endblock %}
{% endblock %}





{% block js %}
<script type="text/javascript">
    function geo_success(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        $('#pos').val(lat + ' ' + lng);
        $('#near_form').submit();
    }

    function geo_error() {

    }

    $('#near_form').submit(function(evt) {
        evt.preventDefault();
        codeAddress();
    });

    var geocoder = new google.maps.Geocoder();

    function initialize() {    
        {% if GEOLOCATE %}
        navigator.geolocation.getCurrentPosition(geo_success, geo_error, {
            timeout: 60000
        });
        {% endif %}
    }

function codeAddress() {
    var address = document.getElementById("pos").value;
    geocoder.geocode({'address': address, 'region': 'UA'}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var pos = results[0].geometry.location.lat() + ' ' + results[0].geometry.location.lng();
        document.location.href='{{ url_for('frontend.discover_near')}}?pos=' + pos + '&name=' + results[0].formatted_address;
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
}

google.maps.event.addDomListener(window, 'load', initialize);   

</script>

{% endblock %}
