{% extends "base.html" %}
{% import "widgets.html" as widgets %}

{% block container %}
      <div class="jumbotron">
        <h1>Платформа МалеДiло</h1>
        <p class="lead">з малих діл до керування країною</p>
        <p><a class="btn btn-lg btn-success" href="/discover/" role="button">Найти дело</a></p>
      </div>

      <div class="row">
        {% for delo in dela %}
        <div class="col-md-4">
            {{ widgets.delo_vertical(delo) }}
        </div>  
        {% endfor %}
      </div>

      
      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Sergey Kirillov 2013</p>
      </div>      
{% endblock %}
