
{% extends "pledge_base.html" %}

{% block pledge_big_col %}
  <h2>Оплата с помощью Liqpay</h2>

  <div class="well">Сумма:<br><span class="bignum">{{ pledge.amount|money }}</span></div>

<form action="https://liqpay.com/?do=clickNbuy" method="POST" id="payment_form" />
    <input type="hidden" name="operation_xml" value="{{ operation_xml }}" />
    <input type="hidden" name="signature" value="{{ signature }}" />
    <br>
	<button class="btn btn-primary btn-lg" type="submit">Перейти в Liqpay</button>
</form>

{% endblock %}
