{% extends "base.html" %}

{% block container %}

<h2>{{delo.title}}</h2>

{% if is_success %}
Спасибо за ваше пожертвование.
{% elif is_failure %}
Платёж не прошёл
{% elif is_wait %}
Ждём <a href=".">обновить</a>
{% endif %}


<div style="display:none">
{{ pledge.last_status }}<br>
{{ pledge.last_code }}<br>
{{ pledge.last_description }}<br>
</div>


<h3>Расскажите своим друзьям и может быть они присоединятся к вам</h3>

<textarea>Я только что поддержал дело "{{ delo.title }}". Поддержите и вы.</textarea><br>
<button class="btn btn-success">FB</button> <button class="btn btn-success">VK</button> <button class="btn btn-success">Twi</button>

<hr>
<a href="{{ url_for('frontend.delo', delo_id=delo.id) }}" class="btn">Вернуться к делу</a>
<a href="{{ url_for('frontend.index' ) }}" class="btn btn-primary">Найти другие дела</a>
{% endblock %}
