{% extends "base.html" %}

{% block container %}
<h1>{{ delo.title }}</h1>
<div class="panel panel-default">
		<div class="panel-body">
		<div class="row">
			<div class="col-md-9">
				{% block pledge_big_col %}{% endblock %}
			</div>
			<aside class="col-md-3">
				<div class="well">
				<h4>Важно</h4>
				maleDilo не гарантирует выполнение Дела, и не проверяет возможности создателя Дела выполнить это дело. Это задача куратора дела обеспечить его выполнение, как и было обещано. Любые претензии должны направляться к куратору.
				</div>
			</aside>
		</div>
	</div>
</div>

{% endblock %}
