{% extends "pledge_base.html" %}

{% block pledge_big_col %}
<form method="post" action=".">
  
  <div class="form-group">
  	<label>Введите сколько вы хотите пожертвовать</label>
  	<div class="row">
  		<div class="col-md-3">
	  <div class="input-group input-group-lg">
	  	<input type="text" class="form-control" name="amount">
	  	<span class="input-group-addon">грн.</span>
	  </div>				  
	  </div>
	  <div class="col-md-6" style="line-height:46px">
	  Любая сумма, от 1 грн.</div>
	  </div>
  </div>
  <br>
  <button class="btn btn-primary btn-lg" type="submit">Продолжить</button>
</form>			

{% endblock %}
