{% macro delo_vertical(delo, distance=none) %}
<div class="delo panel panel-default" id="delo_{{delo.id}}" data-pos="{{ delo.position|latlng }}">
    <div class="panel-body">
        <a href="{{ url_for('frontend.delo', delo_id=delo.id) }}"><img src="http://placehold.it/350x250" width="100%"></a>
        <h5 style="margin-bottom:0"><a href="{{ url_for('frontend.delo', delo_id=delo.id) }}">{{delo.title}}</a></h5>
        {{delo.curator.full_name}}
        <br><br>
        {{ delo.teaser }}<br>
        {% if distance %}
          <span class="glyphicon glyphicon-map-marker"></span> <a href="#map" class="delo_distance">{{ distance|distance }}</a><br>
        {% endif %}
    </div>
    <div class="panel-footer">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ delo.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{delo.progress}}%;">
                <span class="sr-only">Собрано {{delo.progress}}%</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="mediumnum">{{delo.progress}}%</span><br>
                cобрано 
            </div>
            <div class="col-md-6">
                <span class="mediumnum">{{delo.pledged|money}}</span><br>
                пожертвовано 
            </div>
            {#<div class="col-md-4">
                <span class="mediumnum">{{delo.days_left}} X</span><br>
                дней осталось 
            </div>#}
        </div>              
    </div>
</div>
{% endmacro %}


{% macro delo_horizontal(delo) %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
          <a class="pull-left" href="{{ url_for('frontend.delo', delo_id=delo.id) }}">
            <img class="media-object" src="http://placehold.it/300x250" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="{{ url_for('frontend.delo', delo_id=delo.id) }}">{{ delo.title }}</a></h4>
                {{delo.curator.full_name}}
                <br>
                {{delo.teaser}}

            <div class="">
                <div class="progress" style="margin: 20px 0 0 0">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ delo.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{delo.progress}}%;">
                        <span class="sr-only">Собрано {{delo.progress}}%</span>
                    </div>
                </div>
                <div>
                    <span class="mediumnum">{{delo.progress}}%</span>
                    cобрано <br>
                    <span class="mediumnum">{{delo.pledged|money}}</span>
                    пожертвовано<br> 
                    {#<span class="mediumnum">{{delo.days_left}} X</span>
                    дней осталось <br>#}
                </div>

            </div>

          </div>
        </div>          
    </div>
</div>
{% endmacro %}
